# common
*.DS_Store
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.tsbuildinfo

# mobile
mobile/node_modules/
mobile/dist/
mobile/build/
mobile/.expo/
mobile/web-build/
mobile/.env
mobile/expo-env.d.ts

# server
